<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ダンカグライク Tatsukin Server</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="title-container">
        <h1 class="title">ダンカグライク Tatsukin Server</h1>
        <div class="search-container">
          <div class="select search-options">
            <select id="searchBy" class="select">
              <option value="name">コンテンツ名</option>
              <option value="publisher">作成者</option>
            </select>
          </div>
          <input
            type="text"
            id="search"
            class="input"
            placeholder="Search for an item..."
          />
        </div>
        <div class="title-tools">
          <a href="https://github.com/tatukin1192/dkl-tgpacks" target="_blank" class="button is-info"
            >使い方</a
          >
          <a
            target="_blank"
            href="https://dankag-like.web.app/"
            class="button is-info"
            id="btn-submit"
             >公式サイト</a
            >
        </div>
      </div>

      <p class="summary">
        ダンカグライク用のカスタムサーバーです。<br>
        舞孫弗たつきんが一般配布しているパッケージを、アプリ内からダウンロードすることが可能です。<br>
        詳しい使い方は<a target="_blank" href="https://github.com/tatukin1192/dkl-tgpacks">こちら</a>をご覧ください。
      </p>
      
      <details class="id-details accordion">
        <summary>ID凡例</summary>
        <div class="id-contents">
          <ul class="id-details-list">
            <li>00000～09999：Songs(パッケージ)
              <ul>
                <li>01000～01999：たつきんのダンカグ創作譜面RETURNS</li>
                <li>02000～02999：ダンカグライクAnother Package</li>
<!--                 <li>03000～03999：ダンカグライクOverDrive Package</li> -->
<!--                 <li>04000～04999：ダンカグライクVariety Package</li> -->
              </ul>
            </li>
            <li>10000～19999：NoteSkins</li>
            <li>20000～29999：SoundEffects</li>
            <li>30000～39999：GlobalLua</li>
          </ul>
        </div>
      </details>
      
      <hr>
      
      <p id="resultCount">コンテンツ数：<%= totalCount %>件</p>

      <div class="table-wrapper">
        <table class="table is-striped is-bordered">
          <thead>
            <tr>
              <th class="table-id sortable">ID <span class="sort-arrow"></span></th>
              <th class="table-type sortable">種別 <span class="sort-arrow"></span></th>
              <th class="table-image">画像</th>
              <th class="table-title sortable">コンテンツ名 <span class="sort-arrow"></span></th>
              <th class="table-publisher sortable">
                作成者 <span class="sort-arrow"></span>
              </th>
              <th class="table-date sortable">
                公開日 <span class="sort-arrow"></span>
              </th>
              <th class="table-download sortable numeric">
                DL数 <span class="sort-arrow"></span>
              </th>
              <th class="table-vote sortable numeric">
                評価 <span class="sort-arrow"></span>
              </th>
              <th class="table-diff">難易度</th>
              <th class="table-lua sortable">Lua <span class="sort-arrow"></span></th>
              <th class="table-button">DLリンク</th>
            </tr>
          </thead>
          <tbody>
            <% contents.forEach(content => { %>
            <tr>
              <td class="table-id"><%= content.id.toString().padStart(5, '0') %></td>
              <td class="table-type">
                <%- content.contentType === 0 ? "Songs<br>(パッケージ)" : content.contentType
                === 1 ? "NoteSkins" : content.contentType === 2 ? "SoundEffects"
                : content.contentType === 3 ? "GlobalLua" : "Unknown" %>
              </td>
              <td class="table-image">
                <div class="image-container">
                  <% if (content.imageUrl === "" || content.imageUrl === null ) { %>
                  <img class="jacket-img" src="https://lh3.googleusercontent.com/d/1eoA3DR4lI2A2TxK21U2SCVS74N9T53TY" alt="no image">
                  <% } else { %>
                  <img class="jacket-img" src="<%= content.imageUrl %>" alt="<%= content.title %>" onerror="this.onerror = null; this.src='https://lh3.googleusercontent.com/d/1ldKZhw2xpv3vMDah8hxwXESL5EkjE66T'; this.alt='loading error';" \>
                  <% } %>
                </div>
              </td>
              <td class="table-title"><%= content.title %></td>
              <td class="table-publisher"><%= content.publisher %></td>
              <td class="table-date" style="white-space: nowrap"><%= content.date %></td>
              <td class="table-download"><%= content.downloadCount %></td>
              <td  class="table-vote">
                <div class="vote-score">
                  <div class="<% if (content.voteAverageScore === 0) { %>vote-score-disable<% } %>">
                  <%= content.voteAverageScore.toFixed(2)  %>
                  </div>
                  <div class="vote-score-none <% if (content.voteAverageScore !== 0) { %>vote-score-disable<% } %>">
                  -
                  </div>
                </div>

                <div class="star-count">
                  <div class="star-count-on star-<% if (content.voteAverageScore >= 4.75) { %>50<% }
                              else if (content.voteAverageScore > 4.25) { %>45<% }
                              else if (content.voteAverageScore >= 3.75) { %>40<% }
                              else if (content.voteAverageScore > 3.25) { %>35<% }
                              else if (content.voteAverageScore >= 2.75) { %>30<% }
                              else if (content.voteAverageScore > 2.25) { %>25<% }
                              else if (content.voteAverageScore >= 1.75) { %>20<% }
                              else if (content.voteAverageScore > 1.25) { %>15<% }
                              else if (content.voteAverageScore >= 1) { %>10<% }
                              else { %>00<% } %>">★★★★★</div>
                  <div class="star-count-off">☆☆☆☆☆</div>
                </div></td>
              <% if (content.contentType === 0) { %>
              <td class="difficulty table-diff">
                <span class="diff" id="diff-easy">
                  <% if (content.songInfo.difficulties[0] === -1) { %>X<% } 
                  else　if (content.songInfo.difficulties[0] === 0) { %>-<% } else
                  { %><%= content.songInfo.difficulties[0] %><% } %>
                </span>
                <span class="diff" id="diff-normal">
                  <% if (content.songInfo.difficulties[1] === -1) { %>X<% } 
                  else　if (content.songInfo.difficulties[1] === 0) { %>-<% } else
                  { %><%= content.songInfo.difficulties[1] %><% } %>
                </span>
                <span class="diff" id="diff-hard">
                  <% if (content.songInfo.difficulties[2] === -1) { %>X<% } 
                  else　if (content.songInfo.difficulties[2] === 0) { %>-<% } else
                  { %><%= content.songInfo.difficulties[2] %><% } %>
                </span>
                <span class="diff" id="diff-extra">
                  <% if (content.songInfo.difficulties[3] === -1) { %>X<% } 
                  else　if (content.songInfo.difficulties[3] === 0) { %>-<% } else
                  { %><%= content.songInfo.difficulties[3] %><% } %>
                </span>
                <span class="diff" id="diff-lunatic">
                  <% if (content.songInfo.difficulties[4] === -1) { %>X<% } 
                  else　if (content.songInfo.difficulties[4] === 0) { %>-<% } else
                  { %><%= content.songInfo.difficulties[4] %><% } %>
                </span>
              </td>
              <% } else { %>
              <td class="table-diff"><p class="text-unavailable">-</p></td>
              <% } %>
              <td class="table-lua"><%= content.songInfo.hasLua ? "〇" : "-" %></td>
              <td class="table-button">
                <%
                  const dlUrl = content.downloadUrl;
                  const key = process.env.KEY;
                  var viewUrl = String.fromCodePoint(key.length + 50);
                
                  for (var i = 0; i < key.length; i++){
                    viewUrl = viewUrl + String.fromCodePoint(key.codePointAt(i) + i * 2);
                  }
                                                 
                  for (var i = 0; i < dlUrl.length; i++){
                    var j = i;
                    while (j >= key.length){
                      j = j - key.length;
                    }
                    viewUrl = viewUrl + String.fromCodePoint(dlUrl.codePointAt(i) + key.codePointAt(j) + i * 2 - j);
                  }
                   %>
                <button
                  class="button btn-download is-link"
                  onclick="downloadThis('<%= viewUrl %>');"
                        
                >
                  Download
                </button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <% if (totalPages > 2) { %>
      <div
        class="pagination is-centered"
        role="navigation"
        aria-label="pagination"
      >
        <% if (currentPage > 1) { %>
        <a class="pagination-previous" href="?page=<%= currentPage - 1 %>"
          >←</a
        >
        <% } else { %>
        <a class="pagination-previous" disabled>←</a>
        <% } %> <% if (currentPage < totalPages) { %>
        <a class="pagination-next" href="?page=<%= currentPage + 1 %>">→</a>
        <% } else { %>
        <a class="pagination-next" disabled>→</a>
        <% } %>

        <ul class="pagination-list">
          <li>
            <a
              class="pagination-link <%= currentPage === 1 ? 'is-current' : '' %>"
              href="?page=1"
              >1</a
            >
          </li>

          <% if (totalPages > 2) { %>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li>
            <input
              type="number"
              class="input pagination-input"
              value="<%= currentPage %>"
              min="1"
              max="<%= totalPages %>"
              onkeydown="if(event.key === 'Enter') window.location.href='?page=' + this.value"
            />
          </li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <% } %> <% if (totalPages >= 2) { %>
          <li>
            <a
              class="pagination-link <%= currentPage === totalPages ? 'is-current' : '' %>"
              href="?page=<%= totalPages %>"
              ><%= totalPages %></a
            >
          </li>
          <% } %>
        </ul>
      </div>
      <% } %>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
