<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FUSEN custom server</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/main.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="title-container">
        <h1 class="title">FUSEN official server</h1>
        <div class="search-container">
          <div class="select search-options">
            <select id="searchBy" class="select">
              <option value="name">楽曲/パッケージ名</option>
              <option value="publisher">製作者/原作者</option>
            </select>
          </div>
          <input
            type="text"
            id="search"
            class="input"
            placeholder="Search for an item..."
          />
        </div>
        <div class="title-tools"></div>
       </div>
      
      </div>

      <p class="summury">
        FUSENのダンカグライク用のカスタムサーバーです。<br>
        IDは以下のようにタグ付けされています。<br>
        1000-1799:個人作<br>
        1800-1899:没譜面<br>
        1901-1999:個人作差分<br>
        2001-3000:合作<br>
        3001-4000:FUSEN主催パッケージ<br>
        4001-5000:新狂段位道場<br>
        5001-6000:旧段位道場<br>
        6001-7000:FUSEN参加他者様パッケージ<br>
        ダウンロードできるパッケージは以下です。<br>
        ・テーマ楽曲Pack<br>
        ・CustomChartCollection<br>
        ・not東方<br>
        ・Music-Game-Pack<br>
        ・[FUSENpack01]the connection of planet<br>
        ・[FUSENpack02] 音ゲー良曲選曲集（カスタムサーバー限定）<br>	
        ・We are the touhou boss!<br>
        又不定期に更新をするので、ダウンロード回数、評価がリセットされる場合があります。
      </p>

      <p id="resultCount">total <%= contents.length %> chart/package(s)</p>


        <div class="table-wrapper">
        <table class="table is-striped">
          <thead>
            <tr>
              <th class="sortable">ID <span class="sort-arrow"></span></th>
              <th class="sortable">カテゴリー/type <span class="sort-arrow"></span></th>
              <th class="sortable"> 楽曲/パッケージ名/title<span class="sort-arrow"></span></th>
              <th class="sortable">
                原作者/	Publisher  <span class="sort-arrow"></span>
              </th>
              <th class="sortable numeric">
                公開日/Date <span class="sort-arrow"></span>
              </th>
              <th class="sortable numeric">
                ダウンロード数/Downloads <span class="sort-arrow"></span>
              </th>
              <th class="sortable numeric">
                評価/Score <span class="sort-arrow"></span>
              </th>
              <th>難易度/difficulty</th>
              <th class="sortable">Lua有無 <span class="sort-arrow"></span></th>
              <th>リンク/link</th>
            </tr>
          </thead>
          <tbody>
            <% contents.forEach(content => { %>
            <tr>
              <td><%= content.id %></td>
             <td><%= content.id %></td>
              <td>
                <%= content.contentType === 0 ? "songs" : content.contentType
                === 1 ? "package" : content.contentType === 2 ? "package"
                : content.contentType === 3 ? "GlobalLua" : "Unknown" %>
              </td>
              <td><%= content.title %></td>
              <td><%= content.publisher %></td>
              <td style="white-space: nowrap"><%= content.date %></td>
              <td><%= content.downloadCount %></td>
              <td>
                <div class="vote-score">
                  <div class="<% if (content.voteAverageScore === 0) { %>vote-score-disable<% } %>">
                  <%= content.voteAverageScore.toFixed(2)  %>
                  </div>
                  <div class="vote-score-none <% if (content.voteAverageScore !== 0) { %>vote-score-disable<% } %>">
                  -
                  </div>
                </div>

                <div class="star-count">
                  <div class="star-count-on star-<% if (content.voteAverageScore >= 4.75) { %>50<% }
                              else if (content.voteAverageScore > 4.25) { %>45<% }
                              else if (content.voteAverageScore >= 3.75) { %>40<% }
                              else if (content.voteAverageScore > 3.25) { %>35<% }
                              else if (content.voteAverageScore >= 2.75) { %>30<% }
                              else if (content.voteAverageScore > 2.25) { %>25<% }
                              else if (content.voteAverageScore >= 1.75) { %>20<% }
                              else if (content.voteAverageScore > 1.25) { %>15<% }
                              else if (content.voteAverageScore >= 1) { %>10<% }
                              else { %>00<% } %>">★★★★★</div>
                  <div class="star-count-off">☆☆☆☆☆</div>
<!--                   <% if (content.voteAverageScore >= 4.5) {  %>
                    <span class="star-count-on">★★★★★</span>
                  <% } else if (content.voteAverageScore >= 3.5) {  %>
                    <span class="star-count-on">★★★★</span><span class="star-count-off">☆</span>
                  <% } else if (content.voteAverageScore >= 2.5) {  %>
                    <span class="star-count-on">★★★</span><span class="star-count-off">☆☆</span></span>
                  <% } else if (content.voteAverageScore >= 1.5) {  %>
                    <span class="star-count-on">★★</span><span class="star-count-off">☆☆☆</span>
                  <% } else if (content.voteAverageScore >= 0.5) {  %>
                    <span class="star-count-on">★</span><span class="star-count-off">☆☆☆☆</span>
                  <% } else {  %>
                    <span class="star-count-off">☆☆☆☆☆</span>
                  <% } %> -->
                </div></td>
<!--               <% if (content.contentType === 1) { %>
              <td class="difficulty">
                <span class="diff" id="diff-easy">
                  <% if (content.songInfo.difficulties[0] === -1) { %>X<% } else
                  { %><%= content.songInfo.difficulties[0] %><% } %>
                </span>
                <span class="diff" id="diff-normal">
                  <% if (content.songInfo.difficulties[1] === -1) { %>X<% } else
                  { %><%= content.songInfo.difficulties[1] %><% } %>
                </span>
                <span class="diff" id="diff-hard">
                  <% if (content.songInfo.difficulties[2] === -1) { %>X<% } else
                  { %><%= content.songInfo.difficulties[2] %><% } %>
                </span>
                <span class="diff" id="diff-extra">
                  <% if (content.songInfo.difficulties[3] === -1) { %>X<% } else
                  { %><%= content.songInfo.difficulties[3] %><% } %>
                </span>
                <span class="diff" id="diff-lunatic">
                  <% if (content.songInfo.difficulties[4] === -1) { %>X<% } else
                  { %><%= content.songInfo.difficulties[4] %><% } %>
                </span>
              </td>
              <% } else { %>
              <td><p class="text-unavailable">Unavailable</p></td>
              <% } %>
              <td><%= content.songInfo.hasLua ? "〇" : "-" %></td> -->
              <td>
                <button
                  class="button btn-download is-link"
                  onclick="window.location.href='<%= content.downloadUrl %>'"
                >
                  Download
                </button>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

    
     
      <% } %>
    </div>
    <script src="./main.js"></script>
  </body>
</html>
